* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://cdn.britannica.com/66/93866-050-64944EF0/Skyline-Boston.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Roboto", sans-serif;
}

/* .navbar */

#navbarNav {
  margin-left: auto;
}

.navbar-nav {
  margin-left: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.navbar {
  padding: 1.5rem 2rem;
}

.container {
  border: 1px solid darkgrey;
  border-style: solid;
  border-radius: 0.3rem;
  background-color: rgba(212, 205, 205, 0.795);
  width: 50%;
  position: relative;
  margin-top: 6rem;
  padding-bottom: 3rem;
}

#get-started {
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
}

#get-started-subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 1rem;
  /* padding: 0rem 0rem 0rem 0.1rem; */
  text-align: center;
}

.dropdown {
  display: none;
}

.dropdown-menu {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: block;
}

.dropdown-item {
  color: #000;
  font-size: 1.2rem;
  font-weight: 300;
}

.dropdown-item:hover {
  background-color: #4a8dd1;
  color: #fff;
  cursor: pointer;
}

.btn {
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  margin-top: 2rem;
}

/* footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(199, 200, 234);
  color: black;
  text-align: center;
}

footer p {
  margin: 10px 0 0 0;
  padding: 0;
}

footer a {
  color: #4a8dd1;
  text-decoration: none;
}

footer a:hover {
  color: black;
  text-decoration: none;
}
