@-ms-viewport{width:device-width}
*{
    --main-color: #a2abab;
    --header-color: #586994;
    --color-1: #7d869c;
    --color-2: #b4c4ae;
    --color-3: #e5e8b6;
    --black-grey: #212529;
    font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

header{
    background-color: var(--header-color);
    padding: 1em;
}
header a{
    text-decoration: none;
}
h1, h2, h3, h4{
    color: var(--black-grey);
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;

}
h1{
    font-size: 2.5rem;
}
body{
    background-color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--black-grey);
    text-align: left;
    margin: 0;
    background-color: #fff;
}
main{
    display: inline-block;
    padding: 1em;
    margin: 1em 4em;
    align-self: start;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}
aside#sidebar{
    display: inline-block;
    text-align: right;
    background-color: var(--color-1);
    padding-right: 1.5em;
    list-style-type: none;
    position: absolute;
    right: 0;
    height: 100%;
}
aside#sidebar h3,h4{
    text-align: right;
    padding-top: .75em;
    padding-bottom: 0em;
    display: block;
    color: var(--black-grey);
}
aside#sidebar ul{
    padding: 8px;
    display: block;
}
aside#sidebar a{
    text-decoration: underline dotted;
    color: black;
}
form{
    display: inline-block;

}

table{
    width: 40%;
}
table td#bio{
    word-wrap: normal;
}

footer{
    background-color: var(--header-color);
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* display: block; */
}




/* https://bootsnipp.com/snippets/X2GEX */
nav ul#navbar-nav {
    text-align: center;
}
.nav-item::after {
    content:'';
    display:block;
    width:0px;
    height:4px;
    background:#ff0000;
    transition: 0.2s;
    margin-top:-10px;
}
.nav-item:hover::after {
    width:100%;
}
.nav-item {
    -ms-flex-preferred-size:0;
    flex-basis:0;
    -ms-flex-positive:1;
    flex-grow:1;
    text-align:center
}

.nav-link { 
    padding: .5rem 1rem;
    transition:0.2s;
    display: block;
}
.navbar-nav {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.navbar {
    position:relative;
    /* display:-ms-flexbox; */
    display:flex;
    /* -ms-flex-wrap:wrap; */
    flex-wrap:wrap;
    /* -ms-flex-align:center; */
    align-items:center;
    /* -ms-flex-pack:justify; */
    justify-content:space-between;
    padding: .5rem 1rem
}

.navbar-nav .nav-link {
    color:#000;
    font-weight:bold;
    font-size:18px;
    padding-right: 0;
    padding-left: 0;
}
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction:row;flex-direction:row
}
.navbar-nav .active > .nav-link {
  
    width:100%;
    height:51px;
    
  border-bottom: .25rem solid transparent;
  border-bottom-color: #ed4137;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right:.5rem;padding-left:.5rem
}

/* ::after, ::before{
    box-sizing: border-box;
} */